body{
  margin: 0;
  padding: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Roboto, sans-serif;
  color: #fff;
  background-color: #000;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#value{
  font-size: 3rem;
  margin: 1.5rem;
  color: blue;
}
.btn{
  min-width: 150px;
  min-height: 50px;
  font-size: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: ease-in all 0.2s;
}
.decrease:hover{
  border-color: red;
  color: red;
}
.increase:hover{
  border-color: green;
  color: green;
}
.reset:hover{
  border-color: blue;
  color: blue;
}

@media (max-width:570px){
  .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
